In [1]:
import pandas as pd
import numpy as np

In [2]:
prediccion_1 = pd.read_csv("ensamble_final.csv",encoding = "ISO-8859-1")
prediccion_1.head(5)

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [3]:
prediccion_2 = pd.read_csv("prediccion_binaria_0.82378.csv",encoding = "ISO-8859-1")
prediccion_2.head(5)

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [4]:
def redond(x):
    result=0
    if(x>0.5):
        result=1
    return(result)

In [5]:
prediccion_3 = pd.read_csv("prediccion_cruda_0.822.csv",encoding = "ISO-8859-1")
prediccion_3['target']=prediccion_3['tensor_flow_pred'].apply(lambda x: redond(x))
prediccion_3.head(5)

   tensor_flow_pred  target
0          0.903731       1
1          0.959476       1
2          0.773940       1
3          0.978646       1
4          0.984172       1

In [6]:
((prediccion_1['target']+prediccion_2['target'])/2).value_counts()

0.0    1996
1.0    1038
0.5     229
Name: target, dtype: int64

In [7]:
((prediccion_3['target']+prediccion_1['target'])/2).value_counts()

0.0    1984
1.0    1035
0.5     244
Name: target, dtype: int64

In [8]:
((prediccion_3['target']+prediccion_2['target'])/2).value_counts()

0.0    2048
1.0    1108
0.5     107
Name: target, dtype: int64

# Ahora hago el promedio posta

In [9]:
ensamble = prediccion_1.copy()

In [10]:
ensamble['target'] = (prediccion_3['target']+prediccion_2['target']+prediccion_1['target'])/3
ensamble[['id','target']].head()

   id  target
0   0     1.0
1   2     1.0
2   3     1.0
3   9     1.0
4  11     1.0

In [11]:
ensamble.target.value_counts()

0.000000    1958
1.000000    1015
0.333333     154
0.666667     136
Name: target, dtype: int64

In [12]:
ensamble['target'] = ensamble['target'].apply(lambda x: 0 if x<0.5 else 1)
ensamble[['id','target']].head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [13]:
ensamble[['id','target']].to_csv('ensamble_con_doble_NN_y_mejor_ens.csv', index=False)

In [14]:
ensamble.target.value_counts()

0    2112
1    1151
Name: target, dtype: int64